div {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.panel {
    position: absolute;
    top: 25%;
    left: 0;
    right: 0;
    padding: 1%;
    margin-left: 1%;
    margin-right: 1%;
    border-radius: 10px;
    z-index: 10;
    background-color: rgb(244, 238, 185);
}

.panel h1 {
    text-align: center;
}